*.Rproj
.DS_Store
.Rhistory
/data/googleway/directions_queries/rehab*
/data/googleway/directions_queries/Archive.zip
.Rproj.user
/article/*.aux
/article/*.bbl
/article/*.blg
/article/*.log
/article/*.out
/article/*.pdf
/article/*.synctex.gz
